version: '3.8'
services:
  mongo:
    image: mongo:6
    restart: always
    volumes:
      - mongo_data:/data/db
    ports:
      - 27017:27017

  backend:
    build: ./backend
    environment:
      - MONGO_URI=mongodb://mongo:27017/divisha
      - META_ACCESS_TOKEN=YOUR_META_TOKEN
      - PHONE_NUMBER_ID=YOUR_PHONE_NUMBER_ID
      - WHATSAPP_VERIFY_TOKEN=YOUR_VERIFY_TOKEN
    depends_on:
      - mongo
    ports:
      - 8080:8080

volumes:
  mongo_data:
